extracted/
_extracted/
.bw_project/
bw_project_dir/
__pycache__/
*.pyc
.DS_Store
case_studies/*/*.zip
case_studies/*/ids.txt
bafu_case_studies/*/*.zip

.venv/
.openlca-test-cache/
.brightway-test-cache/
source_data/
